{% load static %}
{% load cart_template_tags %}

<!-- index and shop not linked to base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                    <div class="tip">2</div>
                </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                    <div class="tip">2</div>
                </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./"><img width=50%, src="{% static 'img/logo1.png' %}" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="/index"><img width=50%, src="{% static 'img/logo1.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/index">Home</a></li>
                            <li><a href="/shop">View Products</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    {% if request.user.is_authenticated %}
                                    <li><a href="/order-summary">Shop Cart</a></li>
                                    <li><a href="/checkout">Checkout</a></li>
                                    {% else %}
                                    <li><a href="#">Please login first</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        {% if request.user.is_authenticated %}
                        <div class="header__right__auth">
                            <a href="{%url 'account_logout'%}">Logout</a>
                        </div>
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li><a href="#"><span class="icon_heart_alt"></span>
                                    <div class="tip">2</div>
                                </a></li>
                            <li>
                                <!-- Commented this in case we need to look at the shop-cart page later -->
                                <!-- <a href="/shop-cart"> -->
                                <a href="{% url 'core:order-summary' %}">
                                    <span class="icon_bag_alt"></span>
                                    <div class="tip">{{request.user | cart_count }}</div>
                                </a>
                            </li>
                        </ul>
                        {% else %}
                        <div class="header__right__auth">
                            <a href="{%url 'account_login'%}">Login</a>
                            <a href="{%url 'account_signup'%}">Register</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content  %}
    {% endblock content %}


    {% block extra_body %}
    {% endblock %}

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="./index"><img width=50%, src="{% static 'img/logo1.png' %}" alt=""></a>
                        </div>
                        <p>Because everything is better when it's fluffy..</p>
                        <div class="footer__payment">
                            <a href="#"><img src="{% static 'img/payment/payment-1.png'%}" alt=""></a>
                            <a href="#"><img src="{% static 'img/payment/payment-2.png'%}" alt=""></a>
                            <a href="#"><img src="{% static 'img/payment/payment-3.png'%}" alt=""></a>
                            <a href="#"><img src="{% static 'img/payment/payment-4.png'%}" alt=""></a>
                            <a href="#"><img src="{% static 'img/payment/payment-5.png'%}" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>Quick links</h6>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Account</h6>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a></p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'js/jquery-ui.min.js'%}"></script>
    <script src="{% static 'js/mixitup.min.js'%}"></script>
    <script src="{% static 'js/jquery.countdown.min.js'%}"></script>
    <script src="{% static 'js/jquery.slicknav.js'%}"></script>
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js/jquery.nicescroll.min.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>

</body>

</html>