<!-- This is the home page of our website -->

{% load static %}
{% load cart_template_tags %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PoshPixie</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="/index"><img width=50%, src="{% static 'img/logo1.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/index">Home</a></li>
                            <li><a href="/shop">View Products</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    {% if request.user.is_authenticated %}
                                    <li><a href="/order-summary">Shop Cart</a></li>
                                    <li><a href="/checkout">Checkout</a></li>
                                    <li><a href="/my_account">My Account</a></li>
                                    {% else %}
                                    <li><a href="#">Please login first</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        {% if request.user.is_authenticated %}
                        <div class="header__right__auth">
                            <a href="{%url 'account_logout'%}">Logout</a>
                        </div>
                        <ul class="header__right__widget">
                            <li><a href="{% url 'core:wishlist' %}"><span class="icon_heart_alt"></span>
                                    <div class="tip"> {{request.user | wishlist_count }} </div>
                                </a></li>
                            <li>
                                <!-- Commented this in case we need to look at the shop-cart page later -->
                                <!-- <a href="/shop-cart"> -->
                                <a href="{% url 'core:order-summary' %}">
                                    <span class="icon_bag_alt"></span>
                                    <div class="tip"> {{request.user | cart_count }} </div>
                                </a>
                            </li>
                        </ul>
                        <form action="{% url 'core:search' %}" method="GET">
                            <span class="icon_search"></span>
                            <input id="q" list="products" size="22" name="q" type="text"
                                placeholder="  Search for products...">
                            <datalist id="products">
                                <option>Toys</option>
                                <option>Home</option>
                                <option>Accessories</option>
                                {% for product in object_list %}
                                <option value="{{product.name}}">
                                    {% endfor %}
                            </datalist>
                        </form>
                        {% else %}
                        <div class="header__right__auth">
                            <a href="{%url 'account_login'%}">
                                Login
                            </a>
                            <a href="{%url 'account_signup'%}">
                                Register
                            </a>
                        </div>
                        <form action="{% url 'core:search' %}" method="GET">
                            <span class="icon_search"></span>
                            <input id="q" list="products" size="22" name="q" type="text"
                                placeholder="Search for products...">
                            <datalist id="products">
                                <option>Toys</option>
                                <option>Home</option>
                                <option>Accessories</option>
                                {% for product in object_list %}
                                <option value="{{product.name}}">
                                    {% endfor %}
                            </datalist>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>



            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="categories__item categories__large__item set-bg"
                        data-setbg="{% static 'img/categories/Welcome.jpg'%}">
                        <div class="categories__text">
                            <h1>Welcome❤ </h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg"
                                data-setbg="{% static 'img/categories/home-decor.jpg'%}">
                                <div class="categories__text align-middle">
                                    <h2>Home Decor</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg"
                                data-setbg="{% static 'img/categories/accessories.jpg'%}">
                                <div class="categories__text">
                                    <h2>Accessories</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="{% static 'img/categories/toy.jpg'%}">
                                <div class="categories__text">
                                    <h2>Toys</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="{% static 'img/categories/other.jpg'%}">
                                <div class="categories__text">
                                    <h2>Other</h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Product Section Begin -->

    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="section-title">
                        <h4>Products</h4>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">

                    <ul class="filter__controls">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".H">Home Decor</li>
                        <li data-filter=".T">Toys</li>
                        <li data-filter=".A">Accessories</li>
                    </ul>
                </div>
            </div>

            <div class="row property__gallery">
                {% for item in object_list %}
                <div class="col-lg-3 col-md-4 col-sm-6 mix {{item.category}}">
                    <div class="product__item">
                        {% if request.user.is_authenticated %}
                        <div class="product__item__pic set-bg" data-setbg="/media/{{ item.image }}">
                            <div class="{{item.label}}">{{item.get_label_display}}</div>
                            <ul class="product__hover">
                                <li><a href="/media/{{ item.image }}" class="image-popup"><span
                                            class="arrow_expand"></span></a></li>
                                <li><a href="{{ item.add_to_wishlist_url}}"><span class="icon_heart_alt"></span></a>
                                </li>
                                <li><a href="{{ item.add_to_cart_url}}"><span class="icon_bag_alt"></span></a>
                                </li>
                            </ul>
                        </div>
                        {% else %}
                        <div class="product__item__pic set-bg" data-setbg="/media/{{ item.image }}">
                            <div class="{{item.label}}">{{item.get_label_display}}</div>
                            <ul class="product__hover">
                                <li><a href="/media/{{ item.image }}" class="image-popup"><span
                                            class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                                <li>
                                    <div class="alert alert-danger">
                                        Please login to add to cart or wishlist.
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                        <div class="product__item__text">
                            <h6><a href="{{item.get_abs_url}}">{{item.name}}</a></h6>
                            <div class="rating">
                                {%  for i in item.get_avg_length %}
                                <i class="fa fa-star"></i>
                                {% endfor %}
                            </div>
                            <div class="product__price">$
                                {% if item.discounted %}
                                {{item.discounted}}
                                {%else%}
                                {{item.cost}}
                                {%endif%}
                            </div>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Pagination -->
    {% if is_paginated %}
    <div class="col-lg-12 product text-center">
        <div class="pagination__option">
            {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}"><i class="fa fa-angle-left"></i></a>
            {% endif %}
            <a href="?page ={{page_obj.number}}">{{page_obj.number}}</a>
            {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}"><i class="fa fa-angle-right"></i></a>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <br>
    <!-- Banner Section Begin -->
    <section class="banner set-bg" data-setbg="{% static 'img/banner/banner2.jpg'%}">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-8 m-auto">
                    <div class="banner__slider owl-carousel">
                        <div class="banner__item">
                            <div class="banner__text">
                                <span>The Isha Collection</span>
                                <h1>Project Home</h1>
                                <a href="/filter/?q=decor">Shop now</a>
                            </div>
                        </div>
                        <div class="banner__item">
                            <div class="banner__text">
                                <span>The Ayush Collection</span>
                                <h1>Project Toys</h1>
                                <a href="/filter/?q=toys">Shop now</a>
                            </div>
                        </div>
                        <div class="banner__item">
                            <div class="banner__text">
                                <span>The Anusha Collection</span>
                                <h1>Project Accessories</h1>
                                <a href="/filter/?q=accessories">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <br>
    <!-- Services Section Begin -->
    <section class="services spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-car"></i>
                        <h6>Free Shipping</h6>
                        <p>For all orders over $99</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-money"></i>
                        <h6>Money Back Guarantee</h6>
                        <p>If you have a valid issue</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-support"></i>
                        <h6>Online Support 24/7</h6>
                        <p>Dedicated support</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-headphones"></i>
                        <h6>Payment Secure</h6>
                        <p>100% secure payment</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Instagram Begin -->
    <div class="instagram">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static 'img/banner/banner.jpg'%}">
                        <div class="instagram__text">
                            <a href="#">@ poshpixie</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static 'img/categories/home-decor.jpg'%}">
                        <div class="instagram__text">
                            <a href="#">@ poshpixie</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static 'img/banner/banner.jpg'%}">
                        <div class="instagram__text">
                            <a href="#">@ poshpixie</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static 'img/categories/toy.jpg'%}">
                        <div class="instagram__text">
                            <a href="#">@ poshpixie</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static 'img/banner/banner.jpg'%}">
                        <div class="instagram__text">
                            <a href="#">@ poshpixie</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static 'img/categories/accessories.jpg'%}">
                        <div class="instagram__text">
                            <a href="#">@ poshpixie</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="./index"><img width=50%, src="{% static 'img/logo1.png' %}" alt=""></a>
                        </div>
                        <p>Because everything is better when it's fluffy..</p>
                        <div class="footer__payment">
                            <a href="#"><img src="{% static 'img/payment/payment-1.png'%}" alt=""></a>
                            <a href="#"><img src="{% static 'img/payment/payment-2.png'%}" alt=""></a>
                            <a href="#"><img src="{% static 'img/payment/payment-3.png'%}" alt=""></a>
                            <a href="#"><img src="{% static 'img/payment/payment-4.png'%}" alt=""></a>
                            <a href="#"><img src="{% static 'img/payment/payment-5.png'%}" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>Quick links</h6>
                        <ul>
                            <li><a href="/contact">Contact Us</a></li>
                            <li><a href="/my_account">My Account</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright__text">
                        <p>Copyright &copy;
                            All Rights Reserved</p>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'js/jquery-ui.min.js'%}"></script>
    <script src="{% static 'js/mixitup.min.js'%}"></script>
    <script src="{% static 'js/jquery.countdown.min.js'%}"></script>
    <script src="{% static 'js/jquery.slicknav.js'%}"></script>
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js/jquery.nicescroll.min.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
</body>

<!-- OMG Please Work -->

</html>