{% extends "base.html" %}
<head>
 <title>{% block head_title %}PoshPixie | My Account{% endblock %}</title>
</head>
{% block content  %}

<body class="bg-custom">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>My Account</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <br>

    <section class="shop spad">
        <div class="container">
            {% if request.user.is_authenticated %}
            Hi {{request.user.username}}!
            <br>
            Your username is : {{request.user.username}}
            <br>
            <br>
            <div class="product__details__button">
             Would you like to view the products you've ordered?
                <br>
            <a href="/my_orders" class="cart-btn">My Orders</a>
                <br>
                <br>
                <hr>
                Would you like to change your password?
                <br>
            <a href="/accounts/password/change" class="cart-btn cart-btn2">Change Password</a>
                <br>
                <br>
                <hr>
                Would you like to set a new default delivery address or change the existing one?
                <br>
            <a href="/change_address" class="cart-btn">Set Address</a>
            </div>
            {% else %}
            Hello, please login first
            {% endif %}

        </div>
    </section>
</body>
{% endblock content %}