{% extends "base.html" %}
<head>
 <title>{% block head_title %}PoshPixie | My Account{% endblock %}</title>
</head>
{% block content  %}

<body class="bg-custom">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>My Account</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <br>

    <section class="shop spad">
        <div class="container">
            {% if request.user.is_authenticated %}
            Hi {{request.user.username}}
            <br>
            Your username is : {{request.user.username}}
            <br>
            Would you like to change your existing password?
            If yes, <a href="/accounts/password/change">click here</a>.

            {% else %}
            Hello, please login first
            {% endif %}
        </div>
    </section>
</body>
{% endblock content %}