{% extends "base.html" %}


<head>
    <title>{% block head_title %}Poshpixie | Cart{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

{% block content  %}

<body class="bg-custom">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Order Summary Section-->
    <div class="container">

        <div class="table-responsive text-nowrap">
            <br>
            <h2>Order Summary</h2>
            <br>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Item Price</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for order_item in object.items.all %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{{order_item.item.get_abs_url}}">{{ order_item.item.name }}</a></td>
                        <td>{{ order_item.item.cost }}</td>
                        <td><a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><i
                                    class="fa fa-minus" aria-hidden="true"
                                    style="color: black; margin-right:5px ; font-size: 80%;"></i></a>{{ order_item.quantity }}<a
                                href="{% url 'core:add-to-cart' order_item.item.slug %}"><i class="fa fa-plus"
                                    aria-hidden="true" style="color: black; margin-left:5px ; font-size: 80%;"></i></a>
                        </td>
                        <td>
                            {% if order_item.item.discounted %}
                            ${{ order_item.total_discount_item_price }}
                            <span class="badge badge-primary">Saving {{ order_item.amount_saved }}</span>
                            {% else %}
                            ${{ order_item.total_item_price }}
                            {% endif %}
                        </td>
                        <td><a style="color:blue;" href="{% url 'core:move-to-wishlist' order_item.item.slug %}">
                                <i>Move to Wishlist</i>
                            </a></td>
                        <td><a style="color: red;" href="{% url 'core:remove-from-cart' order_item.item.slug %}">
                                <!-- <i>Remove</i> -->
                                <i class="fa fa-trash" aria-hidden="true"></i>

                            </a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7">Your cart is empty</td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <a href="/shop" class="btn cart-btn float-right">Continue Shopping</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% if object.total_amount %}
                    <tr>
                        <td colspan="6"><b>Order Total</b></td>
                        <td><b>${{ object.total_amount }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <a href='/checkout' class="btn cart-btn2 float-right ml-2">Proceed To
                                Checkout</a>
                            <a href='/shop' class=" cart-btn btn  float-right">Continue Shopping</a>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>

        </div>
    </div>


</body>
{% endblock %}