{% extends "base.html" %}
<!-- Product Page -->

<head>
    <title>{% block head_title %}Product Details{% endblock %}</title>
</head>

{% block content  %}

<body class="bg-custom">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option "">
        <div class=" container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/index"><i class="fa fa-home"></i> Home</a>
                    <a href="/filter/?q={{object.get_category_display}}">{{object.get_category_display}} </a>
                    <span>{{object.name}}</span>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <img src="/media/{{ object.image }}">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>{{object.name}} <span>Brand: SKMEIMore Men Watches from SKMEI</span></h3>
                        <div class="rating">
                            {{ object.average_Rating|floatformat:2 }}
                            {%  for i in object.get_avg_length %}
                            <i class="fa fa-star"></i>
                            {% endfor %}
                            <span>( {{ object.reviews.all.count}} reviews )</span>
                        </div>
                        <div class="product__details__price">
                            {% if object.discounted %}
                            ${{object.discounted}} <span> {{object.cost}} </span>
                            {% else %}
                            ${{object.cost}} <span> </span>
                            {%endif%}
                        </div>
                        <div class="product__details__button">
                            <a href="{{ object.add_to_cart_url}}" class="cart-btn"><span class="icon_bag_alt"></span>
                                Add to cart</a>
                            <a href="{{ object.remove_from_cart_url}}" class="cart-btn cart-btn2"><span
                                    class="icon_bag_alt"></span> Remove from cart</a>

                            <ul>
                                <a href="{{ object.add_to_wishlist_url}}" class="cart-btn"><span
                                        class="icon_heart_alt"></span>
                                    Add to wishlist</a>
                                <a href="{{ object.remove_from_wishlist_url}}" class="cart-btn cart-btn2"><span
                                        class="icon_heart_alt"></span> Remove from wishlist</a>
                                <!-- <li><a href="#"><span class="icon_heart_alt"></span></a></li> -->
                            </ul>
                        </div>
                        <div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Promotions:</span>
                                    <p>Free shipping</p>
                                </li>
                                <li>
                                    <span>Interested People:</span>
                                    <p>{{ object.wishlist_counter }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Reviews
                                    ({{ object.reviews.all.count}})</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <h6>Description</h6>
                                <p>{{ object.description }}</p>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <h6>Reviews ({{ object.reviews.all.count}})</h6>
                                {% for review in object.reviews.all %}
                                <p>
                                    {{review.user.username}},
                                    {{review.date_added|date:"Y-m-d" }},
                                    Stars: {{review.stars }}
                                </p>
                                {{review.content }}
                                <hr>
                                {% empty %}
                                No reviews available yet.
                                <br>
                                {% endfor %}

                                <hr>
                                {% if request.user.is_authenticated %}
                                Would you like to add a review?
                                <form method="post" action=".">

                                    {% csrf_token %}

                                    <div class="field">
                                        <label>Stars</label>
                                        <div class="control">
                                            <div class="select">
                                                <select name="stars">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5" selected>5</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="field">
                                        <label>Review</label>
                                        <div class="control">
                                            <textarea class="textarea" name="content"></textarea>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <button>Submit</button>
                                        </div>
                                    </div>
                                </form>
                                {% else %}
                                <p> Please sign in to review this product </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- More like this/Recommendation Section Begins -->
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="related__title">
                <h5>More Like This</h5>
            </div>
        </div>
        {% for item in similar %}
        <div class="col-lg-3 col-md-4 col-sm-6 mix {{item.category}}">
            <div class="product__item">
                {% if request.user.is_authenticated %}
                <div class="product__item__pic set-bg" data-setbg="/media/{{ item.image }}">
                    <div class="{{item.label}}">{{item.get_label_display}}</div>
                    <ul class="product__hover">
                        <li><a href="/media/{{ item.image }}" class="image-popup"><span class="arrow_expand"></span></a>
                        </li>
                        <li><a href="{{ item.add_to_wishlist_url}}"><span class="icon_heart_alt"></span></a>
                        </li>
                        <li><a href="{{ item.add_to_cart_url}}"><span class="icon_bag_alt"></span></a>
                        </li>
                    </ul>
                </div>
                {% else %}
                <div class="product__item__pic set-bg" data-setbg="/media/{{ item.image }}">
                    <div class="{{item.label}}">{{item.get_label_display}}</div>
                    <ul class="product__hover">
                        <li><a href="/media/{{ item.image }}" class="image-popup"><span class="arrow_expand"></span></a>
                        </li>
                        <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                        <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        <li>
                            <div class="alert alert-danger">
                                Please login to add to cart or wishlist.
                            </div>
                        </li>
                    </ul>
                </div>
                {% endif %}
                <div class="product__item__text">
                    <h6><a href="{{item.get_abs_url}}">{{item.name}}</a></h6>
                    <div class="rating">
                        {%  for i in item.get_avg_length %}
                        <i class="fa fa-star"></i>
                        {% endfor %}
                    </div>
                    <div class="product__price">$
                        {% if item.discounted %}
                        {{item.discounted}}
                        {%else%}
                        {{item.cost}}
                        {%endif%}
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
    <!-- More like this/Recommendation Section Ends -->

</body>

{% endblock %}