{% extends "base.html" %}


<head>
    <title>{% block head_title %}Wishlist{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

{% block content  %}

<body>
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index"><i class="fa fa-home"></i> Home</a>
                        <span>Wishlist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Order Summary Section-->
    <div class="container">

        <div class="table-responsive text-nowrap">
            <br>
            <h2>Wishlist</h2>
            <br>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item</th>
                        <th scope="col">Price</th>
                        <th scope="col">Ratings</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for wishlist_item in object.items.all %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{{wishlist_item.item.get_abs_url}}">{{ wishlist_item.item.name }}</a>
                            <p> Interested People: {{ wishlist_item.item.wishlist_counter }} </p>
                        </td>
                        <td>{{ wishlist_item.item.cost }}</td>
                        <td>{{ wishlist_item.item.average_Rating|floatformat:2 }}</td>
                        <td><a style="color: blue;" href="{% url 'core:move-to-cart' wishlist_item.item.slug %}">
                                <i>Move to Cart</i>
                            </a></td>
                        <td><a style="color: red;" href="{% url 'core:remove-from-wishlist' wishlist_item.item.slug %}">
                                <!-- <i>Remove</i> -->
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">Your wishlist is empty</td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <a href="/shop" class="btn btn-primary float-right">Continue Shopping</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% if object.total_amount %}
                    <tr>
                        <td colspan="5"><b>Order Total</b></td>
                        <td><b>${{ object.total_amount }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <a href='/shop' class="btn btn-primary float-right">Continue Shopping</a>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>

        </div>
    </div>


</body>
{% endblock %}